<header class="w-100 h-16 flex justify-around items-center sticky top-0 z-10 backdrop-blur-md" style="font-size: smaller; border-bottom: 1px solid #f8fafc0f">
<nav class="flex flex-wrap gap-4 justify-center">
  <section class="flex flex-wrap gap-4">
    <a class="hover:cursor-pointer hover:text-yellow-500" aria-label="experience" href="#experience">
      Experience
    </a>
    <a class="hover:cursor-pointer hover:text-yellow-500" aria-label="projects" href="#projects">
      Projects
    </a>
    <a class="hover:cursor-pointer hover:text-yellow-500" aria-label="skills" href="#skills">
      Skills
    </a>
    <a class="hover:cursor-pointer hover:text-yellow-500" aria-label="about-me" href="#about-me">
      About me
    </a>
  </section>
  
</nav>

</header>