


<section class="py-16 md:py-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl flex-wrap flex">
  <article class="max-w-xl p-4">
    <h2 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">Hey!, I'm {{name}}</h2>
    <p class="mt-6 text-xl text-gray-800 dark:text-gray-300">
      Specialized in creating web applications
      and experience in the entire development lifecycle and coding.
      With strong collaborative and leadership skills within a team, and committed to continuous improvement.
      <a href="mailto:{{email}}"><strong class="text-yellow-500">{{email}}</strong></a>
    </p>
    <footer class="w-fit flex flex-wrap gap-4 px-4 py-2 mt-6 font-semibold text-sm bg-gray-400 dark:bg-gray-800 text-white rounded-full shadow-md shadow-neutral-950">
      <a href="mailto:{{email}}">
        <img alt="email-icon"  src="./assets/email.icon.svg" width="22" height="22" class="inver-0 dark:invert-[1] hover:opacity-65 hover:cursor-pointer">
      </a>
      <a [href]="githubLink" target="_blank">
        <img alt="github-icon"  src="./assets/github.icon.svg" width="22" height="22" class="inver-0 dark:invert-[1] hover:opacity-65 hover:cursor-pointer">
      </a>
      <a [href]="linkedinLink" target="_blank">
        <img alt="linkedin-icon" src="./assets/linkedin.icon.svg" width="22" height="22" class="inver-0 dark:invert-[1] hover:opacity-65 hover:cursor-pointer">
      </a>
    </footer>
  </article>
  <div class="w-72 relative flex grow items-center" style="height: 288px;">
    <img alt="monitor-image" src="./assets/imgs/monitor.png" class="z-10" width="288px" height="288px" style="min-width: 288px; min-height: 288px;">
    <div class="bg-gradient-to-r from-slate-600 via-slate-400 to-slate-600 dark:from-slate-800 dark:via-slate-600 dark:to-slate-800
        absolute top-11 left-4 -z-10 rounded-sm flex justify-center items-center flex-col" style="width: 15.7rem; height: 152px;">
      <strong class="text-2xl text-yellow-400 font-semibold">Software Engineer</strong>
      <strong>+1.6 year of experience</strong>
    </div>
  </div>
</section> 

<section id="experience" class="section scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">

  <h2 class="w-full flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white justify-center">
    <img alt="briefcase-icon" src="./assets/briefcase.icon.svg" width="28" height="28" class="inver-0 dark:invert-[1]">
    Work Experience
  </h2>
  <ol class="relative mt-16">
    @for(workExperience of workExperiences ; track workExperience){
      <li>
        <app-work-experience-component [workExperience]="workExperience"></app-work-experience-component>
      </li>
    }
  </ol>

</section>


<section id="projects" class="section scroll-m-20 flex flex-col w-full mx-auto justify-center items-center mt-36">

  <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
    <img alt="boxarchive-icon" src="./assets/boxarchive.icon.svg" width="28" height="28" class="inver-0 dark:invert-[1]">
    Projects
  </h2>
  <ol class="relative mt-16 flex flex-wrap gap-5 w-full justify-center">
    @for(project of projects ; track project){
      <li class="p-4" style="max-width: 375px;">
        <app-project-component [project]="project"></app-project-component>
      </li>
    }
  </ol>

</section>


<section id="skills" class="section scroll-m-20 flex flex-col w-full mx-auto justify-center items-center mt-36">

  <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
    <img alt="laptop-icon" src="./assets/laptop.icon.svg" width="32" height="32" class="inver-0 dark:invert-[1]">
    Skills
  </h2>
  <ol class="max-w-7xl relative mt-16 flex flex-wrap gap-5 w-full justify-center">
    @for(skill of skills ; track skill){
      <li class="max-w-md p-4" style="width: 446px;">
        <app-skill-component [skill]="skill"></app-skill-component>
      </li>
    }
  </ol>

</section>



<section id="about-me" class="section p-4 py-16 md:py-30 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl flex-wrap flex">

  <h2 class="w-full flex justify-center items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
    <img alt="profile-icon" src="./assets/profile.icon.svg" width="22" height="22" class="inver-0 dark:invert-[1]">
    About me
  </h2>

  <p>
    I am a passionate <strong class="text-yellow-500">software engineer</strong>, graduated in 2023 from the School of Computer Science and Telecommunications Engineering (<a [href]="etsiitLink" target="_blank"><strong class="text-orange-500">ETSIIT</strong></a>) in Granada, Spain. During my academic journey, I developed a strong interest in creating technological solutions that positively impact people and businesses. My focus is on <strong class="text-yellow-500">Full Stack software development</strong>, with a solid foundation in database management, frontend, and backend.
  
  </p>
  <br>
  <p>
    During my studies, I had the opportunity to complete a 6-month internship at <a [href]="veridataLink" target="_blank"><strong class="text-blue-500">Veridata</strong></a>, a leading technology company. This experience not only allowed me to apply the knowledge gained at university but also offered valuable hands-on learning in a real professional environment. After completing my internship, I was hired by <a [href]="veridataLink" target="_blank"><strong class="text-blue-500">Veridata</strong></a>, where I worked for a year as a Full Stack developer.
  </p>
  <br>
  <p>
    In this role, I actively participated in the design and <strong class="text-yellow-500">development of web applications</strong>, managing both the frontend and backend, ensuring that solutions were efficient, scalable, and easy to maintain. My experience ranges from creating intuitive user interfaces to optimizing databases and implementing robust architectures.
  </p>
  <br>
  <p>
    I am always looking for new challenges that allow me to continue growing professionally and contribute my skills and experience to innovative and ambitious projects. My goal is to continue developing in the field of computer engineering, focusing on creating technologies that can transform the way we live and work.
  </p>

</section>