


<section class="section py-16 md:py-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">

  <article class="max-w-xl p-3">
    <h2 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">Hey!, I'm {{name}}</h2>
    <p class="mt-6 text-xl text-gray-800 dark:[&amp;>strong]:text-yellow-200 [&amp;>strong]:text-yellow-500 [&amp;>strong]:font-semibold dark:text-gray-300">
      +15 años de experiencia. <strong>Ingeniero de Software y Creador de Contenido sobre Programación</strong> de Barcelona, España 🇪🇸. Especializado en el desarrollo de aplicaciones web
      únicas.
    </p>
    
  </article>

  <article class="max-w-xl p-3">
    <h2 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">Hey!, I'm {{name}}</h2>
    <p class="mt-6 text-xl text-gray-800 dark:[&amp;>strong]:text-yellow-200 [&amp;>strong]:text-yellow-500 [&amp;>strong]:font-semibold dark:text-gray-300">
      +15 años de experiencia. <strong>Ingeniero de Software y Creador de Contenido sobre Programación</strong> de Barcelona, España 🇪🇸. Especializado en el desarrollo de aplicaciones web
      únicas.
    </p>
    
  </article>

</section>