


<section class="section py-16 md:py-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
  <article class="max-w-xl">
    <h2 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">Hey!, I'm {{name}}</h2>
    <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-400 [&>strong]:text-yellow-400 [&>strong]:font-semibold dark:text-gray-300">
      +1 year of experience. <strong>Software Engineer</strong> specialized in creating web applications
      and experience in the entire development lifecycle and coding.
    </p>
    <footer class="w-fit flex flex-wrap gap-4 px-4 py-2 mt-6 font-semibold text-sm bg-gray-800 text-white rounded-full shadow-md shadow-neutral-950">
      <button>
        <img style="filter: invert(1);"  src="/assets/email.icon.svg" width="22" height="22" class="hover:opacity-65 hover:cursor-pointer">
      </button>
      <a [href]="githubLink" target="_blank">
        <img style="filter: invert(1);"  src="/assets/github.icon.svg" width="22" height="22" class="hover:opacity-65 hover:cursor-pointer">
      </a>
      <a [href]="linkedinLink" target="_blank">
        <img style="filter: invert(1);" src="/assets/linkedin.icon.svg" width="22" height="22" class="hover:opacity-65 hover:cursor-pointer">
      </a>
    </footer>
  </article>
</section> 

<section class="section scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">

  <h2 class="w-full flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white justify-center">
    <img src="/assets/briefcase.icon.svg" width="28" height="28" style="filter: invert(1);">
    Work Experience
  </h2>
  <ol class="relative mt-16">
    @for(workExperience of workExperiences ; track workExperience){
      <li>
        <app-work-experience-component [workExperience]="workExperience"></app-work-experience-component>
      </li>
    }
  </ol>

</section>


<section class="flex flex-col w-full mx-auto justify-center items-center mt-36">

  <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
    <img src="/assets/boxarchive.icon.svg" width="28" height="28" style="filter: invert(1);">
    Projects
  </h2>
  <ol class="relative mt-16 flex flex-wrap gap-5 w-full justify-center">
    @for(project of projects ; track project){
      <li class="max-w-md">
        <app-project-component [project]="project"></app-project-component>
      </li>
    }
  </ol>

</section>


<section class="flex flex-col w-full mx-auto justify-center items-center mt-36">

  <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
    <img src="/assets/laptop.icon.svg" width="32" height="32" style="filter: invert(1);">
    Skills
  </h2>
  <ol class="relative mt-16 flex flex-wrap gap-5 w-full justify-center">
    @for(project of projects ; track project){
      <li class="max-w-md">
        <app-project-component [project]="project"></app-project-component>
      </li>
    }
  </ol>

</section>