@if(skill)
{
  

<article class="w-full rounded-lg border shadow-md border-neutral-700 p-4 h-full">

  <h2 class="text-xl text-center mb-3 ">{{skill.title.name}}</h2>
  <section class="w-full grid grid-cols-4 gap-4">
    @for(tech of skill.technologies ; track tech){
      @if(tech.link){
        <a [href]="tech.link" target="_blank" class="flex items-center flex-col p-2">
          <img src="/assets/{{tech.icon}}" width="48" height="48">
          {{tech.name}}
        </a>
      }@else {
        <span class="flex items-center flex-col p-2">
          <img src="/assets/{{tech.icon}}" width="48" height="48">
          {{tech.name}}
        </span>
      }
      
    }
  </section>

</article>

}