@if(skill)
{
  

<article class="w-full rounded-lg border shadow-md border-neutral-700 p-4 h-96">

  <div class="w-full text-center">
    <h2 class="text-2xl text-center mb-3 bg-gradient-to-r {{skill.title.color.from}} {{skill.title.color.via}} {{skill.title.color.to}} inline-block text-transparent bg-clip-text">{{skill.title.name}}</h2>
  </div>
  <section class="w-full grid grid-cols-4 gap-4">
    @for(tech of skill.technologies ; track tech; let i = $index){
      @if(tech.link){
        <a [href]="tech.link" target="_blank" class="flex items-center flex-col p-2 text-center justify-center">
          <img alt="tech-icon-{{i}}" src="./assets/{{tech.icon.url}}" width="{{tech.icon.width ?? '48'}}" height="{{tech.icon.height ?? '48'}}">
          {{tech.name}}
        </a>
      }@else {
        <span class="flex items-center flex-col p-2 text-center justify-center">
          <img alt="tech-icon-{{i}}" src="./assets/{{tech.icon.url}}" width="{{tech.icon.width ?? '48'}}" height="{{tech.icon.height ?? '48'}}">
          {{tech.name}}
        </span>
      }
      
    }
  </section>

</article>

}